<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<div class="jumbotron head">

    <div class="container-fluid">
        <div class="col-12 text-center titre">
        {% block titre %}
        {% endblock %}
        </div>
        <div class="row align-right">
            {% block disconnect %}
            <div class="col-11"></div>
            <a class="col-1" href="{% url 'logout' %}" style="padding:3%"><img src="/static/image/disconnect.png" alt="Déconnexion" style="width:100%"/></a>
            {% endblock %}
        </div>
        {% block menu %}
        <ul class="col-12 nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link" href="../newsfeed">Newsfeed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../communautes">Communautés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../nouveau_post">Créer un post</a>
            </li>
        </ul>
        {% endblock %}
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>