{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<div class="jumbotron" style="background-color:#DDE9FF;padding:2% 0% 0% 0%;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center" style="margin:3% 0% 0% 0%">
            {% block titre %}
            {% endblock %}
            </div>
        </div>
        <div class="row align-right">
            {% block disconnect %}
            <div class="col-11"></div>
            <a class="col-1" href="{% url 'logout' %}" style="margin:0% 0% 1% 0%"><img src="/static/image/disconnect.png" alt="Déconnexion" style="width:100%"/></a>
            {% endblock %}
        </div>
        <div class="row">
            {% block menu %}
            <button class="col-lg-4" onclick="window.location.href = '../../newsfeed';">Newsfeed</button>
            <button class="col-lg-4" onclick="window.location.href = '../../communautes';">Communautés</button>
            <button class="col-lg-4" onclick="window.location.href = '../nouveau_post';">Créer un post</button>
            {% endblock %}
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>