.head {
    background-color:#DDE9FF;
    padding:2% 0% 0% 0%;
}

.titre{
    margin:3% 0% 0% 0%
}

div button {
    padding: 0.6% 0%;
}

.titrepost {
    font-size: 20px;
    font-weight: bold;
    margin-right:2%;
}

.post {
    background-color: #FBF5EC;
    margin: 2% auto;
    padding: 0% 3%;
    border: solid;
    border-color:lightgrey;
}

.comment {
    background-color: #FBF5EC;
    padding: 0% 3%;
    border: solid;
    border-color:lightgrey;
}
