<head>
    <title>Connexion</title>
</head>

{% extends "base.html" %}

{% block titre %}
<div style="margin:0% 0% 5% 0%">
    <h1>Bienvenu sur blabla</h1>
    <h6>Connectez-vous pour accéder à vos communautés</h6>
</div>

{% endblock %}

{% block disconnect %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if form.errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="col-4" style="margin:auto">
        <tr>
            <td class="text-center">{{ form.username.label_tag }}</td>
            <td class="text-center">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="text-center">{{ form.password.label_tag }}</td>
            <td class="text-center">{{ form.password }}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="submit" value="Log in" class="button">
            </td>
        </tr>
    </table>


    <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}
