<head>
    <title>Communauté</title>
</head>

{% extends "base.html" %}

{% block titre %}
<h1>Posts de la communauté {{ com.nom }}</h1>
{% endblock %}

{% block content %}

{% if can_modif %}
<p style="color:red;">Vous ne pouvez pas modifier ce post car vous n'en êtes pas l'auteur.</p>
{% elif can_suppress %}
<p style="color:red;">Vous ne pouvez pas supprimer ce post car vous n'en êtes pas l'auteur.</p>
{% endif %}


{% for post in list %}
<div class="post col-11">
    <p class="col-push-6 text-right">{{ post.date_creation }}</p>
    <p class="col-8"><a class="titrepost" href="{% url 'post' post.id %}">{{ post.titre }}</a> par {{ post.auteur }}</p>
    <p class="col-8">{{ post.description }}</p>
    <p class="text-center col-11"><a href="{% url 'modif-post' post.id %}" style="margin-right:10%">Modifier</a><a href="{%url 'suppress-post' post.id %}"><i class="fas fa-times"></i></a></p>

</div>
{% endfor %}

{% endblock %}