<head>
    <title>Newsfeed</title>
</head>

{% extends 'base.html' %}

{% block titre %}
<h1>Newsfeed</h1>
{% endblock %}

{% block menu %}
<ul class="col-12 nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="../newsfeed">Newsfeed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../communautes">Communautés</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../nouveau_post">Créer un post</a>
    </li>
</ul>
{% endblock %}

{% block content %}
{% for post in list %}
<div class="post col-11"><p class="float-left col-8"><a class="titrepost" href="{% url 'post' post.id %}">{{ post.titre }}</a> par {{ post.auteur }}</p>
    <p class="col-8">{{ post.description }}</p>
    <p class="col-push-6 text-right">{{ post.date_creation }}</p>
</div>
{% endfor %}
{% endblock %}