<head>
    <title>Créer un post</title>
</head>

{% extends 'base.html' %}

{% block titre %}
<h1>Nouveau post</h1>
{% endblock %}

{% block menu %}
<ul class="col-12 nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="../newsfeed">Newsfeed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../communautes">Communautés</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="../nouveau_post">Créer un post</a>
    </li>
</ul>
{% endblock %}

{% block content %}

<p>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" formaction="."/>
  </form>
</p>

{% endblock %}